{% extends 'base.html.twig' %}

{% block title 'property of agence_immo' %}

{% block body %}
    <div class="container">
        {%  for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row mt-4">
            <div class="col-md-8">
                {% if property.filename %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="">
                {% else %}
                    <img class="card-img-top" src="{{ '/images/properties/noimage.jpg' | imagine_filter('medium') }}" alt="no-img">
                {% endif %}
            </div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <div>{{property.rooms}} pièces - {{property.surface}} m²</div>
                <div>{{property.priceWithCurrency}}</div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#contactForm">Contacter l'agence</button>
                
                <!-- Modal -->
                <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Contacter l'agence à propos du bien {{ property.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col">{{ form_row(form.firstname) }}</div>
                                    <div class="col">{{ form_row(form.lastname) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ form_row(form.phone) }}</div>
                                    <div class="col">{{ form_row(form.email) }}</div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">envoyer</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav nav-tabs" id="tabs"></nav>
        </div>
        <div class="mt4">
            <p> {{ property.description | nl2br }}</p>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface</td>
                        <td>{{property.surface}}</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{property.rooms}}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{property.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{property.floor}}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{property.heatType}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécifications</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{option.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}