<div class="col-4">
    <div class="card mb-4">
        {% if property.filename %}
            <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="">
        {% else %}
            <img class="card-img-top" src="{{ '/images/properties/noimage.jpg' | imagine_filter('thumb') }}" alt="no-img">
        {% endif %}
        <div class="card-body">
            <div class="card-title">
                <div>
                    <a href="{{path('property', {id: property.id, slug: property.slug})}}">{{property.title}}</a>
                </div>
                <hr>
            </div>
            <div class="card-text">
                <div>
                    <div>{{property.address}}</div>
                    <div>{{property.city}} - ({{property.postalCode}})</div>
                </div>
                <hr>
                <div>{{property.description}}</div>
                <div class="h3">{{property.surface}} m²</div>
                <div class="text-info h2">{{property.priceWithCurrency}}</div>
            </div>
            {% if property.options is not empty %}
                <hr>
            {% endif %}
            {% for option in property.options %}
                <span class="badge badge-secondary">{{option.name}}</span>
            {% endfor %}
        </div>
    </div>
</div>